// fonts
$title-font: 'Yeseva One', cursive;
$page-font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
  'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$fav-font: Georgia, 'Times New Roman', Times, serif;

// colors

$main-color: #eea82a;
$second-color: #d96f1c;
$third-color: #d51112;
$fourth-color: #93c0d3;
$fifth-color: #3f91b7;
